<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1 id="main-title">MultiVerses</h1>
    </header>
    <main>
      <section id="poems">
        <div id="create-poem-button">
          <a href="/submit-poem">Create Poem</a>
        </div>
      </section>
    </main>
  </body>
</html>
