<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiverses</title>
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1 id="main-title">MultiVerses</h1>
      <%- include('partials/nav.ejs') %>
    </header>
    <main>
      <div id="poems">

        <div id="create-poem-button">
          <a href="/submit-poem">
            <img src="imgs/plus.png" alt="create poem plus sign" />
          </a>
        </div>

        <section class = "poem">
          <ul class = "poem-info">
            <li class = "poem-title">Title</li> 
            <li><strong>Author:</strong> test</li> 
            <li><strong>Date Written:</strong> test</li>
          </ul>

          <article class="poem-body-home">
            Poem goes here.
          </article>

          <ul class="poem-tags">
            <li>tag</li>
            <li>tag</li>
          </ul>
        </section>

      </div>
    </main>
  </body>
</html>
