* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../imgs/space.gif");
  background-size: 100% 100%;
  height: 100vh;
  color: #fff;
}

main {
  width: fit-content;
  max-width: 70%;
  background-color: rgb(154, 151, 156);
  margin: auto;
  border-radius: 10px;
}

#main-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h2, h3{
  text-align: center;
}

h2 {
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 0;
  font-size: 1.75rem;
}

h3 {
  font-size: 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

a {
  display: block;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

#not-found {
  margin: auto;
}

div p {
  padding: 1rem;
}

#submissions {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 1.5rem;
  color: black;
  padding: 1rem;
}

.submission {
  padding: 1rem;
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
  background-color: white;
}

.submission pre {
    white-space: pre-wrap; /* preserves line breaks but allows wrapping */
}

.submission h3 {
  display: inline-block;
}

ul {
  list-style: none;
}
