body {
  background-image: url("../imgs/space.gif");
  background-size: 100%;

  color: white;
}

#main-title {
  font-size: 3rem;
  text-align: center;
}

.confirmation {
  margin-top: 2rem;
  max-width: 600px;
  width: 60%;
  margin: 0 auto;
}
