* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d2d30;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  color: #fff;
}

header {
  text-align: center;
  padding: 2rem 0 1rem;
  font-size: 1.8rem;
}

main {
  width: 40vw;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
}
form {
  width: 100%;
  margin-top: 1.2rem;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.poem_info.row_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0.5rem;
}

textarea {
  resize: vertical;
  min-height: 30vh;
}

button[type="submit"] {
  display: block;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: white;
  text-align: center;
  border: none;
  padding: 0.75rem 4rem;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}
.err {
  color: red;
  display: none;
}

@media (max-width: 960px) {
  .poem_info.row_2 {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
