* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('../imgs/space.gif'); */
  background-size: 100% 100%;
  color: #fff;
  height: 100vh;
  min-width: 330px;
}

main {
  background-color: rgb(154, 151, 156);
  width: clamp(330px, 80vw, 900px);
  margin: auto;
  min-height: 70%;
  border-radius: 10px;
}

#main-title {
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
  padding-top: 1rem;
  /* margin-top: 1rem; */
}

a {
  cursor: pointer;
  text-decoration: none;
  color: lightblue;
}

#poems {
  padding: 1rem;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

#create-poem-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: 0.5px solid #fff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  max-width: 100px;
  align-self: center;
  justify-self: center;
}

#create-poem-button img {
  width: 4rem;
  height: 4rem;
}

.poem {
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  width: 100%;
}

.poem-info li {
  padding: 0.2rem;
}

.poem-title {
  font-size: 1.5rem;
}


.poem-body-home {
  margin: 0.5rem 0;
}

.poem-body-home pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
}

.poem-tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.poem-tag {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background: #00cec9;
  
}

.poem-info, .poem-tags {
  list-style: none;
}
