* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  /* padding: 1 2rem; */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.4rem;
  margin-bottom: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #00cec9;
}
