/* ---- reset ---- */ 
body{ 
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif; 
} 
/* canvas{ 
    display: block; 
    vertical-align: bottom; } */
 /* ---- particles.js container ---- */ 
#particles-js{ 
    position:fixed; 
    z-index: -1;
    width: 100%; 
    height: 100%; 
    background-color: #232741; 
    /* background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); */background-repeat: no-repeat;  
    background-size: 20%; 
    background-position: 50% 50%; 
}